<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PropManager.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="mudblazorsample.styles.css" />

    <HeadOutlet />
</head>

<body>
    <Routes />
 
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function changeSlide(index) {
            var carousel = document.getElementById('myCarousel');
            alert("from carousel");
            carousel.carousel(index);
        }
    </script>
    <script>
        window.initializeCarousel = () => {
            $('#carouselExampleIndicators').carousel({ interval: 2000 });

            //see step 2 to understand these news id's:
            $('#carouselExampleIndicators-prev').click(
                () => $('#carouselExampleIndicators').carousel('prev'));
            $('#carouselExampleIndicators-next').click(
                () => $('#carouselExampleIndicators').carousel('next'));

        }
    </script>

</body>

</html>
